.vscode/**
.vscode-test/**
.github/**
src/**
test/**
out/**
dist/test/**
**/*.ts
**/*.map
esbuild.js
eslint.config.mjs
tsconfig.json
.vscode-test.mjs
.gitignore
media/icon.svg
**/.DS_Store

!dist/extension.js
!dist/extension.web.js
!node_modules/@vscode/ripgrep/**
!node_modules/@vscode/ripgrep-*/**
